## mako

<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>

<%!
import json
from django.utils.translation import ugettext as _
from django.template.defaultfilters import escapejs
from django.core.urlresolvers import reverse

from django_comment_client.permissions import has_permission
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML
%>

<%block name="content">
<div class="course-view container" id="course-container">
    <header class="page-header has-secondary">
        <div class="page-header-secondary">
            <div class="form-actions">
                <a class="btn action-resume-course" href="${reverse('courseware', kwargs={'course_id': unicode(course.id.to_deprecated_string())})}">
                    % if has_visited_course:
                        ${_("Resume Course")}
                    % else:
                        ${_("Start Course")}
                    % endif
                </a>
                <a class="btn action-show-bookmarks" href="${reverse('openedx.course_bookmarks.home', args=[course.id])}">
                    ${_("Bookmarks")}
                </a>
            </div>
            <div class="page-header-search">
                <form class="search-form" role="search">
                    <label class="field-label sr-only" for="search" id="search-hint">${_('Search the course')}</label>
                    <input
                            class="field-input input-text search-input"
                            type="search"
                            name="search"
                            id="search"
                            placeholder="${_('Search the course')}'"
                    />
                    <button class="btn btn-small search-btn" type="button">${_('Search')}</button>
                </form>
            </div>
        </div>
    </header>
    <div class="page-content">
        ${HTML(outline_fragment.body_html())}
    </div>
</div>
</%block>
